<script>
    function download(event)
    {   
        
        event.preventDefault(); // Prevent the default form submission behavior

        let data = getData();
        if (data == -1) return;

        // Disable the input fields
        $('input#video-name').each(function () {
            $(this).attr('readonly', '');
        });
        $('input#video-id').each(function () {
            $(this).attr('readonly', '');
        });
        // Emit the download event to the server
        socket.emit('download', {
            'uuid': uuid,
            'data': data,
            'dlId':dlId
        });
        total = $('input#video-name').length;
    }
</script>