{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 2vh;">
    <ul class="list-group">
        {% for item in list_of_downloads %}
        <div class="row">
            <div class="col-12">
                <li class="list-group-item">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" onclick="window.location.href='{{item[1]}}'">{{item[0]}}</button>
                    </div>
                </li>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}