<style>
  .container {
    margin-top: 20px;
  }
</style>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dev Home{% endblock %}</h1>
{% endblock %}

{% block content %}
 <div class="container">
    <p>Welcome to the Dev Home page!</p>
    <ul class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
 </div>
{% endblock %}